{name, "gen_nb_server"}.
{authors, ["Kevin Smith <kevin@hypotheticalabs.com>"]}.
{description, "OTP behavior for writing non-blocking servers"}.
{homepage, "https://github.com/kevsmith/gen_nb_server"}.
{rebar_compatible, true}.
{license, "MIT"}.
{url, {git, "https://github.com/kevsmith/gen_nb_server.git", {tag, "v1.0"}}}.
{applications, [gen_nb_server]}.
